<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Traction_Thrive/TractionThrive_Change_Password_Email</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterLogo>%%%NAMESPACE%%%Traction_Thrive/%%%NAMESPACE%%%Traction_and_Thrive_Small_Logo.png</emailFooterLogo>
    <emailFooterText>Powered by Thrive Health and Traction on Demand.</emailFooterText>
    <emailSenderAddress>noreply@email.email</emailSenderAddress>
    <emailSenderName>Traction Thrive</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Traction_Thrive/TractionThrive_Community_Forgot_Password_Email</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>customer community - hospital administrator</profile>
        <profile>customer community - medical staff</profile>
        <profile>customer community plus - hospital administrator</profile>
        <profile>customer community plus - medical staff</profile>
        <profile>customer community - health authority</profile>
        <profile>customer community plus - health authority</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <newSenderAddress>noreply@email.email</newSenderAddress>
    <picassoSite>Traction_Thrive1</picassoSite>
    <recommendationAudience>
        <recommendationAudienceDetails>
            <audienceCriteriaType>CustomList</audienceCriteriaType>
            <setupName>tractionthrive_Full Menu</setupName>
        </recommendationAudienceDetails>
        <recommendationAudienceDetails>
            <audienceCriteriaType>CustomList</audienceCriteriaType>
            <setupName>tractionthrive_Staff Only</setupName>
        </recommendationAudienceDetails>
    </recommendationAudience>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Traction_Thrive</site>
    <status>UnderConstruction</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>TractionThrive</urlPathPrefix>
    <welcomeTemplate>Traction_Thrive/TractionThrive_Community_Welcome</welcomeTemplate>
</Network>
